.new-list-container{
    text-align: center;
}

.list-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #757575;
}