.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-action-area{
    flex: 1;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content > svg{
    margin: auto;
}

.list-container{
    width: 300px;
    margin: 20px;
}

.list-card-action-area{
    flex: 1;
}

.list-card-item{
    display: flex;
    justify-content: center;
}

.card-img{
    object-fit: cover;
}