body{
    font-family: 'Roboto', sans-serif;
    background-color: #eee8e8;
}

.title{
    padding: 0px 0px 0px 20px;
    font-weight: 600;
    font-size: 28px;
}

.subtitle{
    padding: 0px 0px 0px 20px;
    font-weight: 600;
    font-size: 22px;
}

.page-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-list-container{
    width: 80%;
}

a, :a hover{
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}